body {
  margin: 0;

  max-height: 100vh;
}
#root {
  height: 100vh;
}
main {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section {
  height: 100vh;
}
.hero {
  display: flex;
  align-items: flex-end;
}
.title {
  margin-left: 50px;
  padding-bottom: 50px;
}

.title-smari > h1 {
  font-family: "MohaveBold";
  font-style: normal;
  font-weight: 700;
  font-size: 30rem;
  color: #000000;
  text-shadow: 28px 12px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 0;
  display: flex;
}

.title-smari > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
}

.title-smari > div > span {
  background-color: white;
  width: 140px;
  height: 140px;
  border-radius: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.title-smari > div > span:hover {
  background-color: black;
}
.title-smari > div > span > svg {
  padding: 10px;
}

.title-smari > div > span:hover svg > path {
  stroke: white;
}

.title-smari > div > p {
  font-family: "MohaveRegular";
  font-style: normal;
  font-weight: 300;
  font-size: 6rem;
  color: #000000;
  margin: 0;
  padding: 0;
  display: block;
}
.blinker::after {
  content: ".";
  text-shadow: none;
  animation: blink 3s infinite;
}

.blinker > div {
  z-index: 100;
}

@keyframes blink {
  from {
    background-color: rgba(0, 0, 0, 0.366);
    color: white;
  }
}
